.home{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--bg-primary);
    /*background-image: url(../img/background-parallax.png);
    position: relative;
    overflow: hidden;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    */
}

.home-content{
    width: 80vw;
    display: flex;
    flex-direction: column;
    gap: 3vh;
    
}
.home-info{
    width: 70vw;
    max-width: 900px;
    margin: 0 auto;
}

.heading-primary {
    font-size:  var(--fs-1);
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: var(--fw-600);
    text-align: center; 
    color: var(--color-primary);
    margin: 0px;
}

.heading-primary span{
    color: var(--color-tertiary);
}

.text-primary {
    color: var(--color-primary);
    font-size:  var(--fs-2);
    text-align: center;
    line-height: 5vh; 
}

.contacte-btn {
    margin-top: 20vh;
    text-align: center;
}

.button-contacte {
    background-color: var(--btn-bg);
    border: 0 solid #E5E7EB;
    box-sizing: border-box;
    color: var(--color-secondary);
    font-size: var(--fs-3);
    text-transform: uppercase;
    justify-content: center;
    line-height: 1.75rem;
    padding: .75rem 1.65rem;
    text-align: center;
    text-decoration: none #000000 solid;
    width: 80%;
    max-width: 460px;
    position: relative;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-contacte:focus {
    outline: 0;
  }
  
  .button-contacte:after {
    content: '';
    position: absolute;
    border: 1px solid #000000;
    bottom: 4px;
    left: 4px;
    width: calc(100% - 1px);
    height: calc(100% - 1px);
  }
  
  .button-contacte:hover:after {
    bottom: 2px;
    left: 2px;
  }