.skills {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--bg-secondary);
}

.skills-content {
    width: 100%;
}

.heading-skills {
    font-size: var(--fs-1);
    text-transform: uppercase;
    letter-spacing: 10px;
    text-align: center;
    color: var(--color-secondary);
}

.heading-skills span {
    color: var(--color-tertiary);
}

.text-skills {
    color: var(--color-secondary);
    font-size: var(--fs-4);
    text-align: center;
}

.offer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    margin-top: 15vh;
}

.offer-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 230px;
    gap: 10px;

}

.offer-img {
    width: 50%;
}

.offer-img:hover {
    transform: translateY(-5px);
}