@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Dosis', sans-serif;
}

body {
    font-size: 100%;
}
html{
    scroll-behavior: smooth;
}

.cabecalho {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
    background-image: linear-gradient(to top, #0077b5, #0075aa, #00739e, #047093, #196d87);

}

header .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    gap: 30vw;

  }

  .logo-details{
    display: flex;
    flex-direction: row;
  }

  .logo-details h2{
    font-size: max(8px, 0.6vw);
  }

  .logo-details h3{
    margin-left: 20px;
    font-size: max(10px, 1.5vw);
  }

  header .top .icon-phone {
    width: 2.5vw;
    height: 2.5vw;
    margin: 0 8px;
    border-radius: 50%;
    text-align: center;
    line-height: 2.5vw;
    background: #ffffff;
    color: #000;
    font-size: 1.3vw;
    text-decoration: none;
    transition: all 0.4s ease;

  }

  .cabecalho .top .logo-details{
    color: #ffffff;
  }
  .cabecalho .top .media-icons{
    display: flex;
  }
  .cabecalho .top .media-icons a{

    width: 2.5vw;
    height: 2.5vw;
    margin: 0 8px;
    border-radius: 50%;
    text-align: center;
    line-height: 2.5vw;
    color: #ffffff;
    font-size: 17px;
    text-decoration: none;
    transition: all 0.4s ease;
  }
.top .media-icons a:nth-child(1){
    background:  #34af23;
}
.top .media-icons a:nth-child(1):hover{
    color:  #34af23;
    background: #ffffff;
}
.top .media-icons a:nth-child(2){
    background: #4267B2;
}
.top .media-icons a:nth-child(2):hover{
    color: #4267B2;
    background: #ffffff;
}
.top .media-icons a:nth-child(3){
    background: #E1306C;
}
.top .media-icons a:nth-child(3):hover{
    color: #E1306C;
    background: #ffffff;
}
.top .media-icons a:nth-child(4){
    background: #1DA1F2;
}
.top .media-icons a:nth-child(4):hover{
    color: #1DA1F2;
    background: #ffffff;
}
.top .media-icons a:nth-child(5){
    background: #0077B5;
}
.top .media-icons a:nth-child(5):hover{
    color: #0077B5;
    background: #ffffff;
}
footer .content .link-boxes{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-top: 0.4px solid #ffffff;
  }

.cabecalho-img {
    width: 10%;
    max-width: 700px;
    margin: 30px;
    filter: invert(100%);
}

.logo-responsive{
    display: none;

}

.header-items{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.cabecalho-menu {
    display: flex;
    gap: 60px;
}

.cabecalho-menu-item {
    color: #ffffff;
    font-weight: 400px;
    font-size: max(16px, 1.5vw);
}

.cabecalho-menu-item:hover {
    opacity: 1;
    text-decoration: underline;
}

/*Conteudo home*/

.home{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #fffafa;
}

.home-content{
    width: 80vw;
    display: flex;
    flex-direction: column;
    gap: 3vh;
    
}
.home-info{
    width: 70vw;
    max-width: 900px;
    margin: 0 auto;
}

.heading-primary-name{
    font-size: max(20px, 2vw);
    text-transform: uppercase;
    letter-spacing: 10px;
    text-align: center; 
    color: #000;
}

.heading-primary {
    font-size: max(24px, 3vw);
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center; 
    color: #000;
}

.heading-primary span{
    color: #0077B5;
}

.text-primary {
    color: #000;
    font-size: max(18px, 1.5vw);
    text-align: center;
    line-height: 5vh; 
}

.home-btn {
    margin-top: 5rem;
    text-align: center;
}

.btn {
    padding: 3px;
    width: 25%;
    min-width: 100px;
    border-radius: 3px;
    font-size: max(18px, 1.5vw);
    background-color: #0077B5;
    color: #ffffff;
    cursor: pointer;
}

.btn:hover {
    background-color: #1aa7c4;
    transition: all .5s;
}

/*Conteudo skills*/

.skills{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #171818;

}

.skills-content{
    width: 100%;
}

.heading-skills {
    font-size: max(20px, 2vw);
    text-transform: uppercase;
    letter-spacing: 20px;
    text-align: center; 
    color: #fff;
}

.heading-skills span{
    color: #0077B5;
}

.text-skills {
    color: #ffff;
    font-size: max(16px, 1vw);
    text-align: center;
}

.offer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    margin-top: 15vh;
}

.offer-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 230px;
    gap: 10px;
    
}

.offer-img{
    width: 50%;
}
.offer-img:hover {
    transform: translateY(-5px);
}

/*Conteudo cards*/

.cards{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fffafa;
}

.card h2{
    margin-top: 2vh;
    color: #000;
}
.card p{
    color: #000;
    font-size: max(16px, 1vw);
    text-align: center;
    margin: 1vh;
}

.cards-primary {
    font-size: max(16px, 2vw);
    text-align: center; 
    color: #000;
    margin-top: 7vh;
}

.cards-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1300px;
    margin: 7vh 0 7vh 0;
  }

  .cards-row > div{
    flex: 1 1 300px;
  }

  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
    border-radius: 5%;
    box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
    padding: 10px;
    margin: 20px;
    transition: all 0.3s ease-out;
    border-bottom: 1px solid #0077B5;
    background-color: #fff;
  }
  
  .card:hover {
    transform: translateY(-5px);
    cursor: pointer;
  }
   
  .image-card {
    width: 100%;
  }

/*footerbox*/

.footerbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: #ffffff;
    padding: 20px;
    background-color: #171818;
}

.footer .logo-details{
    color: #ffffff;
    font-size: 30px;
  }
  .footer .media-icons{
    display: flex;
  }
  .footer .media-icons a{
    height: 40px;
    width: 40px;
    margin: 0 8px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    color: #ffffff;
    font-size: 17px;
    text-decoration: none;
    transition: all 0.4s ease;
  }

.footer .media-icons a:nth-child(1){
    background:  #34af23;
}
.footer .media-icons a:nth-child(1):hover{
    color:  #34af23;
    background: #ffffff;
}
.footer .media-icons a:nth-child(2){
    background: #4267B2;
}
.footer .media-icons a:nth-child(2):hover{
    color: #4267B2;
    background: #ffffff;
}

.footer .media-icons a:nth-child(3){
    background: #0077B5;
}
.footer .media-icons a:nth-child(3):hover{
    color: #0077B5;
    background: #ffffff;
}

.footer{
    margin-top: 20px;

}

.copy, .footer-copy{
    font-size: max(14px, 1vw);
    font-weight: 400;
    font-size: max(14px, 1vw);
    margin-top: 20px;
    color: #ffffff;
}

/*responsividade*/

@media (max-width: 630px) {

    .header-items{
        display: none;
    }

    header .top{
        display: none;
    }

    .menu-responsive{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo-responsive{
        display: flex;
        width: 10%;
        max-width: 700px;
        filter: invert(100%);
    }

    .btn{
        width: 80%;
    }
    
    .one,
    .two,
    .three {
        background-color: #fff;
        height: 2px;
        width: 60%;
        margin: 5px auto;
        transition-duration: 0.3s;
    }

    .menu-toggle{
        width: 40px;
        height: 30px;
    }

    /*fullscren*/


    .logo-responsive.off{
        opacity: 0%;
    }

    .home.on{
        margin-top: 100vh;
    }

    .cabecalho.on{
        position: absolute;
        top: 0;
        left: 0;

        width: 100vw;
        height: 100vh;

        z-index: 10;
        justify-content: center;
        align-items: center;
    }

    .cabecalho.on .header-items{
        display: flex;
        flex-direction: column;
    }

    .cabecalho.on .cabecalho-menu{
        display: flex;
        flex-direction: column;
        line-height: 1rem;
        text-align: center;
    }

    .cabecalho-menu-item{
        font-size: 5vw;
    }

    .cabecalho.on .menu-toggle{
        position: absolute;
        right: -4vw;
        margin-right: 10vw;
        top: 3vh;
    }

    .cabecalho.on .menu-toggle .one{
        transform: rotate(45deg) translate(7px, 7px);
    }

    .cabecalho.on .menu-toggle .two{
        opacity: 0;
    }

    .cabecalho.on .menu-toggle .three{
        transform: rotate(-45deg) translate(3px, -4px);
    }

}

@media (max-width: 480px) {
    .offer{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 300px;
        margin: 0 auto;
        margin-top: 100px;
    }

    .offer > div{
        flex: 1 1 80px;
      }
}
