* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: 0;
}

.header {
  background-color: #0077B5;
  padding: 30px 0;
}

.header-logo {
  width: 3%;
  filter: invert(100%);
}

.logo-responsive {
  display: none;
}

.header-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.header-menu {
  display: flex;
  gap: 2vw;
}

.header-menu-item {
  color: #ffffff;
  font-weight: 600;
  font-size: var(1rem);
  padding: 10px;
}

.header-menu-item:hover {
  opacity: 1;
  text-decoration: underline;
}

.btn-outline {
  background: 0 0;
  color: #ffffff;
  border: 2px solid #fff;
  padding: 10px 30px;
  text-transform: uppercase;
}

.btn-primary {
  background: #ffffff;
  color: #0077B5;
  border: 0;
  padding: 10px 30px;
  font-weight: 800;
  text-transform: uppercase;
}

.logo {
  position: relative;
  min-width: 77px;
  z-index: 2;
}

.logo a {
  color: #ffffff;
  font-size: 1rem;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.logo span {
  font-size: 1rem;
  display: inline-block;
  color: #CC3300;
  margin-left: 2px;
}

.home {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #ffffff;
  /*background-image: url(../img/background-parallax.png);
  position: relative;
  overflow: hidden;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  */
}

.home-content {
  width: 80vw;
  display: flex;
  flex-direction: column;
  gap: 3vh;
}

.home-info {
  width: 70vw;
  max-width: 900px;
  margin: 0 auto;
}

.heading-primary {
  font-size: clamp(1rem, 1rem + 2vw, 3.5rem);
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 600;
  text-align: center;
  color: #000000;
  margin: 0px;
}

.heading-primary span {
  color: #0077B5;
}

.text-primary {
  color: #000000;
  font-size: clamp(1rem, 1rem + 1.5vw, 3rem);
  text-align: center;
  line-height: 5vh;
}

.contacte-btn {
  margin-top: 20vh;
  text-align: center;
}

.button-contacte {
  background-color: #0077B5;
  border: 0 solid #E5E7EB;
  box-sizing: border-box;
  color: #ffffff;
  font-size: 1rem;
  text-transform: uppercase;
  justify-content: center;
  line-height: 1.75rem;
  padding: 0.75rem 1.65rem;
  text-align: center;
  -webkit-text-decoration: none #000000 solid;
          text-decoration: none #000000 solid;
  width: 80%;
  max-width: 460px;
  position: relative;
  cursor: pointer;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-contacte:focus {
  outline: 0;
}

.button-contacte:after {
  content: "";
  position: absolute;
  border: 1px solid #000000;
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

.button-contacte:hover:after {
  bottom: 2px;
  left: 2px;
}

.skills {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #171818;
}

.skills-content {
  width: 100%;
}

.heading-skills {
  font-size: clamp(1rem, 1rem + 2vw, 3.5rem);
  text-transform: uppercase;
  letter-spacing: 10px;
  text-align: center;
  color: #ffffff;
}

.heading-skills span {
  color: #0077B5;
}

.text-skills {
  color: #ffffff;
  font-size: clamp(1rem, 1rem + 0.5vw, 1.5rem);
  text-align: center;
}

.offer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2vw;
  margin-top: 15vh;
}

.offer-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 230px;
  gap: 10px;
}

.offer-img {
  width: 50%;
}

.offer-img:hover {
  transform: translateY(-5px);
}

.cards {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  /*background-image: url(../img/background-parallax.png);
  position: relative;
  overflow: hidden;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  */
}

.cards-primary {
  font-size: clamp(1rem, 1rem + 1.5vw, 3rem);
  text-align: center;
  color: #000000;
  margin-top: 7vh;
}

.card-text h2 {
  font-size: clamp(1rem, 1rem + 1.5vw, 3rem);
  color: #000000;
  text-align: center;
}

.card-text p {
  color: #000000;
  font-size: clamp(1rem, 1rem + 0.5vw, 1.5rem);
  text-align: center;
  margin: 1vh;
  text-align: center;
}

.title {
  font-size: clamp(1rem, 1rem + 0.5vw, 1.5rem);
  margin-top: 2vh;
  color: #000000;
}

.card p {
  color: #000000;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  margin: 1vh;
  color: #ffffff;
}

.cards-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1300px;
  margin: 7vh 0 7vh 0;
}

.cards-row > div {
  flex: 1 1 300px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
  border-radius: 1%;
  box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
  padding: 10px;
  margin: 20px;
  transition: all 0.3s ease-out;
  background-color: #ffffff;
}

.card:hover {
  transform: translateY(-7px);
}

.image-card {
  width: 100%;
  overflow: hidden;
}

.card-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
  padding: 10px;
  margin: 20px;
}

.content {
  margin: 5px;
}

.info {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.btn-project {
  padding: 5px 20px;
  border-radius: 2px;
  background-color: #0077B5;
}

.contact {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #171818;
}

.heading-contact {
  margin-bottom: 7vh;
  font-size: clamp(1rem, 1rem + 1.5vw, 3rem);
  text-transform: uppercase;
  letter-spacing: 10px;
  text-align: center;
  color: #fff;
}

.contact-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10vw;
  flex-wrap: wrap;
  width: 75vw;
  margin: 7vh 0 7vh 0;
}

.contact-row > div {
  flex: 1 1 70px;
}

.contact-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.contact-icons h3 {
  color: #ffffff;
  font-size: clamp(1rem, 1rem + 0.5vw, 1.5rem);
}

.contact-icons p {
  color: #ffffff;
  font-size: clamp(0.8rem, 0.6rem + 0.4vw, 1.2rem);
}

.contact-icons a {
  width: max(40px, 6vw);
  height: max(40px, 6vw);
  border-radius: 50%;
  text-align: center;
  color: #ffffff;
  font-size: max(27px, 4vw);
  text-decoration: none;
  transition: all 0.4s ease;
}

.contact-row .contact-icons a {
  background: #0077B5;
}

.contact-row .contact-icons a:hover {
  color: #0077B5;
  background: #ffffff;
}

footer {
  padding: 50px 0;
  font-size: 100%;
  background-color: #0077B5;
}

footer::before {
  content: "";
  position: absolute;
  left: 0;
  top: 100px;
  height: 1px;
  width: 100%;
}

footer .content {
  max-width: 1250px;
  margin: auto;
  padding: 30px 40px 40px 40px;
}

footer .content .link-boxes {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.box {
  width: 25%;
  padding: 0 10px;
}

.box h4 {
  font-size: max(16px, 1.2vw);
  color: #ffffff;
  margin-bottom: 20px;
  margin-top: 20px;
  font-weight: 500;
  position: relative;
  text-transform: uppercase;
}

.box ul {
  list-style: none;
}

.box ul li {
  margin: 6px 0;
}

.box ul li a {
  font-size: max(14px, 0.8vw);
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 400;
  display: block;
  transition: all 0.3s ease;
}

.box ul li a:hover {
  opacity: 1;
  text-decoration: underline;
}

.box .form-sub label {
  color: #ffffff;
  font-size: max(14px, 0.8vw);
}

.box .form-sub input {
  width: 100%;
  padding: 10px;
  font-size: max(14px, 0.8vw);
  outline: none;
  border: 1px solid #ffffff;
  color: #ffffff;
  background-color: #3c3c3c;
}

.box .form-sub input::-moz-placeholder {
  color: #ffffff;
}

.box .form-sub input::placeholder {
  color: #ffffff;
}

.box .form-sub textarea {
  width: 100%;
  padding: 10px;
  font-size: max(14px, 0.8vw);
  outline: none;
  border: 1px solid #ffffff;
  color: #ffffff;
  background-color: #3c3c3c;
}

.box .form-sub textarea::-moz-placeholder {
  color: #ffffff;
}

.box .form-sub textarea::placeholder {
  color: #ffffff;
}

.box .form-sub button {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  font-size: clamp(0.8rem, 0.6rem + 0.4vw, 1.2rem);
  outline: none;
  border: none;
  cursor: pointer;
  color: #3c3c3c;
  border-radius: 3px;
  font-weight: bold;
  background-color: #ffffff;
}

footer .bottom-details {
  width: 100%;
}

footer .bottom-details .bottom_text {
  max-width: 1250px;
  margin: auto;
  padding: 20px 40px;
  display: flex;
  justify-content: center;
}

.bottom-details .bottom_text span, p,
.bottom-details .bottom_text a {
  font-size: clamp(0.8rem, 0.6rem + 0.4vw, 1.2rem);
  font-weight: 400;
  color: #ffffff;
  opacity: 0.8;
  text-decoration: none;
}

.bottom-details .bottom_text a:hover {
  opacity: 1;
  text-decoration: underline;
}

.bottom-details .bottom_text a {
  margin-right: 10px;
}

/* media queries */
@media (max-width: 800px) {
  .box {
    width: 50%;
    margin-bottom: 30px;
  }
  .btn-primary,
  .btn-outline {
    display: none;
  }
}
@media (max-width: 630px) {
  .box {
    width: 100%;
  }
  .header {
    height: 9vh;
    padding: 0 24px;
    border-bottom-left-radius: 1%;
    border-bottom-right-radius: 1%;
  }
  .header-items {
    display: none;
  }
  .menu-responsive {
    padding-top: 2vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .logo-responsive {
    display: flex;
    width: 10%;
    max-width: 700px;
    filter: invert(100%);
  }
  .button-contacte {
    margin-top: 2vh;
  }
  .one,
  .two,
  .three {
    background-color: #ffffff;
    height: 2px;
    width: 60%;
    margin: 5px auto;
    transition-duration: 0.3s;
  }
  .menu-toggle {
    width: 40px;
    height: 30px;
  }
  footer .top {
    display: none;
  }
  .footer {
    display: flex;
  }
  .copy-responsive {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: max(14px, 1vw);
    font-weight: 400;
    font-size: max(14px, 1vw);
    gap: 10px;
    margin: 10px 0;
    color: #ffffff;
  }
  .footer-copy {
    margin: 0;
  }
  /*fullscreen*/
  .logo-responsive.off {
    opacity: 0;
  }
  .home.on {
    margin-top: 100vh;
  }
  .header.on {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    justify-content: center;
    align-items: center;
  }
  .header.on .header-logo {
    margin-bottom: 20px;
    width: 15%;
  }
  .header.on .header-items {
    display: flex;
    flex-direction: column;
    margin-top: 25vh;
  }
  .header.on .header-menu {
    display: flex;
    flex-direction: column;
    line-height: 1rem;
    text-align: center;
  }
  .header-menu-item {
    font-size: 5vw;
  }
  .header.on .menu-toggle {
    position: absolute;
    right: -7vw;
    margin-right: 14vw;
    top: 3vh;
  }
  .header.on .menu-toggle .one {
    transform: rotate(45deg) translate(7px, 7px);
  }
  .header.on .menu-toggle .two {
    opacity: 0;
  }
  .header.on .menu-toggle .three {
    transform: rotate(-45deg) translate(3px, -4px);
  }
}
@media (max-width: 480px) {
  .offer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 300px;
    margin: 0 auto;
    margin-top: 100px;
  }
  .offer > div {
    flex: 1 1 80px;
  }
}
.offer-item,
.contact-icons,
.contacte-btn {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.offer-item.animate,
.contact-icons.animate,
.contacte-btn.animate {
  opacity: 1;
  transform: translateY(0);
}

body {
  font-size: 100%;
  font-family: "Dosis", sans-serif;
}

html {
  scroll-behavior: smooth;
}

button {
  font-family: "Dosis", sans-serif;
  cursor: pointer;
}

svg {
  width: 100%;
}

img {
  width: 100%;
}

a {
  cursor: pointer;
  text-decoration: none;
}/*# sourceMappingURL=styles.css.map */