// Cores de fundo
$bg-white: #ffffff;
$bg-black: #171818;
$bg-blue: #0077B5;

// Cores de fundo para botões
$btn-bg-blue: #0077B5;
$btn-bg-white: #ffffff;

// Cor de fundo para inputs
$input-bg: #3c3c3c;

// Cores de texto
$color-black: #000000;
$color-white: #ffffff;
$color-blue: #0077B5;
$color-red: #CC3300;
