.contact{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $bg-black;
}

.heading-contact{
    margin-bottom: 7vh;
    font-size: $fs-2;
    text-transform: uppercase;
    letter-spacing: 10px;
    text-align: center; 
    color: #fff;
}

.contact-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10vw;
    flex-wrap: wrap;
    width: 75vw;
    margin: 7vh 0 7vh 0;
}

.contact-row > div{
    flex: 1 1 70px;
  }



.contact-icons{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.contact-icons h3{
    color: $bg-white;
    font-size: $fs-4;
}

.contact-icons p{
    color: $bg-white;
    font-size: $fs-5;
}

.contact-icons a{

    width: max(40px, 6vw);
    height: max(40px, 6vw);
    border-radius: 50%;
    text-align: center;
    color: $color-white;
    font-size: max(27px, 4vw);
    text-decoration: none;
    transition: all 0.4s ease;
  }

.contact-row .contact-icons a{
    background: $btn-bg-blue;
}

.contact-row .contact-icons a:hover{
    color: $btn-bg-blue;
    background: $bg-white;
}