$fs-1: clamp(1rem, calc(1rem + 2vw), 3.5rem);
$fs-2: clamp(1rem, calc(1rem + 1.5vw),  3rem);
$fs-3: 1rem;
$fs-4: clamp(1rem, calc(1rem + 0.5vw), 1.5rem);
$fs-5: clamp(0.8rem, calc(0.6rem + 0.4vw), 1.2rem);

$fw-400: 400;
$fw-600: 600;
$fw-700: 700;