/*========== Animações ==========*/


// Definindo a classe base da animação
.animated-element {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;

  // Aplicando a variação "animate"
  &.animate {
    opacity: 1;
    transform: translateY(0);
  }
}

/*========== Mixins ==========*/

// Mixin para a animação de traço expansível
@mixin expandUnderline($color, $height) {
  content: "";
  display: block;
  width: 0;
  border-bottom: $height solid $color;
  position: absolute;
  bottom: -($height);
  left: 0;
  transition: width 0.3s;
}

/*========== Estilos dos elementos ==========*/

.header-menu-item::after {
  @include expandUnderline($color-quaternary, 2px);
}

.header-menu-item:hover::after {
  width: 100%;
}