// Estilização do header
.header {
  background-color: $bg-tertiary;
  padding: 22px 0;
  border-bottom: 2px solid $color-quaternary;
  position: fixed;
  width: 100%;
  z-index: 10;

}

  // Ocultar logo em telas responsivas
  .logo-responsive {
    display: none;
  }

  // Itens do header (logo e menus)
  .header-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    // Estilização dos menus do header
    .header-menu {
      display: flex;
      gap: 2vw;

      // Estilização dos itens do menu do header
      .header-menu-item {
        color: $color-secondary;
        font-weight: $fw-400;
        font-size:  var($fs-3);
        padding: 10px;
        position: relative;

        // Efeito de sublinhado expandindo ao passar o mouse sobre os itens do menu
        &:hover {
          &::after {
            @include expandUnderline($color-quaternary, 2px);
            width: 100%;
          }
        }
      }

      // Estilização dos botões do tipo outline
      .btn-outline {
        background: 0 0;
        color: $color-secondary;
        border: 1px solid $color-secondary;
        border-radius: 6px;
        padding: 9px 18px;
        text-transform: uppercase;
      }

      // Estilização dos botões do tipo primary
      .btn-primary {
        background: $btn-bg-secondary;
        color: $color-tertiary;
        font-weight: $fw-600;
        border-radius: 6px;
        border: 0;
        padding: 9px 18px;
        text-transform: uppercase;
      }
    }
  }

  // Estilização da logo
  .logo a {
    color: $color-secondary;
    font-size: $fs-3;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    cursor: default;

    // Estilização do texto dentro da logo
    span {
      margin-left: 2px;
    }

    // Efeito de cor ao passar o mouse sobre o texto da logo
    &:hover span {
      color: $color-quaternary;
      transition: width 0.3s;
    }
  }

  .menu{
    cursor: pointer;
    display: none;
}
.menu .bar{
    display: block;
    width: 25px;
    height: 2px;
    border-radius: 3px;
    background: $color-secondary;
    margin: 5px auto;
    transition: all 0.3s;
}
.menu .bar:nth-child(1),
.menu .bar:nth-child(3){
    background: $color-quaternary;
}

